* {
    padding: 0;
    margin: 0;
    font: var(--font-principal);
}

/* Variables principales */
:root {
    --color-primary: rgb(125, 185, 195);
    --color-secundary: rgba(188, 247, 198, 0.534);
    --font-principal: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --font-secundy: Arial, Helvetica, sans-serif;
}

/*------------------------------------------------*/
body {
    height: 100vh;
    width: 100%;
    background-color: rgba(212, 226, 226, 0.425);
}

.container {}

h1,
h2,
h3,
h4 {
    font: var(--font-principal);
}

p {
    font: var(--font-secundy)
}

/*----------------------------------------------------------------*/
/* Estructura para HEADER */

header {
    background-color: var(--color-primary);
    display: flex;
    justify-content: space-between;
    height: 120px;
    width: 100%;
}

.header-logo img {
    height: 115px;
    margin-left: 30px;
}

.header-menu {
    height: 115px;
    display: flex;
    gap: 10px;
    align-items: end;
    margin-right: 30px;
}

.header-menu a {
    color: green;
    text-decoration: none;
    padding: 20px;
}

.header-menu a:hover {
    background-color: rgb(43, 148, 148);
    color: azure;
    border-radius: 10px;
}

.separador {
    height: 25px;
    background-color: var(--color-primary);
}

.separador img {
    width: 100%;
    height: 25px;
}

/*--------------------------------------------------------*/
/* Estructura para Content */

.content {
    display: flex;
    padding: 20px;
    gap: 80px;
    height: 300px;
    background-color: white;
}

.content-description {
    width: 60%;
}

.content-description h1 {
    font-size: 40px;
    padding: 15px;
}

.content-description p,
h4 {
    text-align: justify;
    padding: 20px;
}

.content-img {
    display: flex;
    width: 40%;
    margin-right: 0;
    gap: 90px;
}

/*-----------------------------------------------------*/
/* Estructura Categorías */

h2 {
    font-size: 35px;
    text-align: center;
    padding-top: 30px;
}

.Categorias {
    background-color: var(--color-secundary)
}

.categoria-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    text-align: center;
    gap: 30px;
    height: 400px;
    align-items: center;
}

.Categorias-cuadros {
    width: 350px;
    height: 300px;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    background-color: white;
}

.Categorias-cuadros img {
    max-width: 100%;
    min-height: 85%;
}

.Categorias-cuadros p {
    padding: 15px;
    font-size: 20px;
}

.Categorias-cuadros p a {
    text-decoration: none;
    color: rgb(43, 148, 148);
}

.Categorias-cuadros p:hover,
.Categorias-cuadros a:hover {
    background-color: rgb(43, 148, 148);
    cursor: pointer;
    color: azure;
}

/* ---------------------------------------------------------*/
/* Estructura Productos */

.Product-Title {
    background-color: rgb(212, 226, 226, 0.425)
}

.Product-Title h3 {
    padding: 10px;

}

.Product-container-items {
    background-color: rgba(212, 226, 226, 0.555);
    width: auto;
    height: 320px;
    display: grid;
    grid-template-columns: auto auto auto;
}

.Product-container-items .product-items {
    width: 450px;
    height: 270px;
    background-color: rgba(212, 226, 226, 0.425);
    border-radius: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.Product-container-items .product-items img {
    width: 70%;
    height: 260px;
    margin-left: 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.Product-container-items .product-items .product-items-datos {
    text-align: center;
    width: 125px;
    height: 260px;
    background-color: rgba(128, 128, 128, 0.623);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.Product-container-items .product-items .product-items-datos p {
    padding: 30px;
}

.Product-container-items .product-items .product-items-datos p:first-child {
    font-size: 18px;
}

.Product-container-items .product-items .product-items-datos button {
    padding: 8px;
    border-radius: 10px;
    background-color: rgba(101, 104, 103, 0.575);
    border: none;
    color: rgba(190, 187, 187, 0.849);
}

.Product-container-items .product-items .product-items-datos button:hover {
    background-color: rgb(43, 148, 148);
    color: azure;
    cursor: pointer;
}

hr {
    border: 1px solid rgba(0, 0, 0, 0.253);
}

/* ----------------------------------------------------------- */
/* FORM STRUCTURE */

.Formulario {
    width: 100%;
    height: 500px;
}

.Formulario h2 {
    padding-bottom: 20px;
}

.Formulario .Container-form {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
}

form {
    width: 500px;
    height: 300px;
    padding: 20px 30px;
    background-color: rgba(138, 159, 172, 0.349);
}

input,
textarea {
    margin-top: 6px;
}

.Formulario .Container-form form #Send-button {
    background-color: rgba(138, 159, 172, 0.068);
    border: none;
}

.Formulario .Container-form form #Send-button:hover {
    cursor: pointer;
    color: azure;
}

/* ----------------------------------------------------- */
/* Especial separator */

.separador_oblicuo {
    width: 0;
    height: 0;
    border-right: 100vw solid transparent;
    border-bottom: 12vw solid var(--color-primary);
    margin-top: -7vw;
}


/* ----------------------------------------------------------- */
/* FOOTER */

footer {
    background-color: var(--color-primary);
    height: 300px;
    width: 100%;
    display: flex;
}

footer .Logo-2 {
    background-color: var(--color-primary);
    width: 400px;
    height: 300px;
}

footer .Logo-2 img {
    width: 400px;
    height: ;
    background-color: var(--color-primary);
    margin-left: 40px;
}

footer .Contacto {
    height: 150px;
    font-size: 25px;
    color: rgb(21, 132, 68);
    margin-top: 100px;
    margin-left: 500px;
}

footer .Contacto p {
    padding-top: 20px;
}

footer .Whats {
    width: 30px;
    height: 30px;
}

footer .Whats .logoW {
    width: 50px;
    height: 50px;
    position: fixed;
    top: 380px;
    right: 30px
}