* {
    padding: 0;
    margin: 0;
    font: var(--font-principal);
}

/* Variables principales */
:root {
    --color-primary: rgb(125, 185, 195);
    --color-secundary: rgba(188, 247, 198, 0.534);
    --font-principal: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --font-secundy: Arial, Helvetica, sans-serif;
}

/*------------------------------------------------*/
body {
    height: 100vh;
    width: 100%;
    background-color: rgba(212, 226, 226, 0.425);
}

.container {}

h1,
h2,
h3,
h4 {
    font: var(--font-principal);
}

p {
    font: var(--font-secundy)
}

/*----------------------------------------------------------------*/
/* Estructura para HEADER */

header {
    background-color: var(--color-primary);
    display: flex;
    justify-content: space-between;
    height: 16%;
    width: 100%;
}

.header-logo img {
    height: 100%;
    margin-left: 40%;
    width: 100%;
}

.header-menu {
    display: flex;
    gap: 3%;
    align-items: end;
    margin-right: 8%;
}

.header-menu a {
    color: green;
    text-decoration: none;
    padding: 20px;
}

.header-menu a:hover {
    background-color: rgb(43, 148, 148);
    color: azure;
    border-radius: 10px;
}

.separador {
    height: 25px;
    background-color: var(--color-primary);
}

.separador img {
    width: 100%;
    height: 25px;
}

/*--------------------------------------------------------*/
/* Estructura para Content */

.content {
    display: flex;
    padding: 20px;
    gap: 10%;
    height: 450px;
    background-color: white;
}

.content-description {
    width: 60%;
}

.content-description h1 {
    font-size: 40px;
    padding: 15px;
}

.content-description p,
h4 {
    text-align: justify;
    padding: 20px;
    font-size: 20px;
}

.content-img {
    display: flex;
    width: 50%;
    height: auto;
    margin-right: 0px;
    gap: 0px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/*-----------------------------------------------------*/
/* Estructura Categorías */

#Categorias h2 {
    font-size: 35px;
    text-align: center;
    padding-top: 30px;
}

#Categorias {
    background-color: var(--color-secundary)
}

.categoria-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    text-align: center;
    gap: 5%;
    height: 400px;
    align-items: center;
    margin-left: 20px;
    height: 550px;
}

.Categorias-cuadros {
    width: 80%;
    height: 300px;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    background-color: white;
    box-shadow: -4px 3px 33px 0px rgba(0, 0, 0, 0.75);
}

.Categorias-cuadros img {
    max-width: 100%;
    min-height: 85%;
}

.Categorias-cuadros p {
    padding: 15px;
    font-size: 20px;
}

.Categorias-cuadros p a {
    text-decoration: none;
    color: rgb(43, 148, 148);
}

.Categorias-cuadros p:hover,
.Categorias-cuadros a:hover {
    background-color: rgb(43, 148, 148);
    cursor: pointer;
    color: azure;
}

/* ---------------------------------------------------------*/
/* Estructura Productos */

.Product-Title {
    background-color: rgb(212, 226, 226, 0.425)
}

.Product h2 {
    padding: 20px;
    text-align: center;
    font-size: 35px;
}

.Product-Title h3 {
    padding: 10px;
    margin-left: 15px;

}

.Product-container-items {
    background-color: rgba(212, 226, 226, 0.555);
    width: auto;
    height: 320px;
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 1%;
    /*box-shadow: -4px 3px 33px 0px rgba(0,0,0,0.75);*/
}

.Product-container-items .product-items {
    width: 450px;
    height: 270px;
    background-color: rgba(212, 226, 226, 0.425);
    border-radius: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    box-shadow: -4px 3px 33px 0px rgba(0, 0, 0, 0.75);
}

.Product-container-items .product-items img {
    width: 70%;
    height: 96%;
    margin-left: 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.Product-container-items .product-items .product-items-datos {
    text-align: center;
    width: 125px;
    height: 260px;
    background-color: rgba(128, 128, 128, 0.623);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.Product-container-items .product-items .product-items-datos p {
    padding: 30px;
}

.Product-container-items .product-items .product-items-datos p:first-child {
    font-size: 18px;
}

.Product-container-items .product-items .product-items-datos button {
    padding: 8px;
    border-radius: 10px;
    background-color: rgba(101, 104, 103, 0.575);
    border: none;
    color: rgba(190, 187, 187, 0.849);
}

.Product-container-items .product-items .product-items-datos button:hover {
    background-color: rgb(43, 148, 148);
    color: azure;
    cursor: pointer;
}

hr {
    border: 1px solid rgba(0, 0, 0, 0.253);
}

/* ----------------------------------------------------------- */
/* FORM STRUCTURE */

.Formulario {
    width: 100%;
    height: 500px;
}

.Formulario h2 {
    padding: 20px;
    text-align: center;
    font-size: 35px;
}

.Formulario .Container-form {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;

}

form {
    width: 500px;
    height: 300px;
    padding: 20px 30px;
    background-color: rgba(138, 159, 172, 0.349);
    box-shadow: -2px 2px 20px 0px rgba(0, 0, 0, 0.75);
}

input,
textarea {
    margin-top: 6px;
}

.Formulario .Container-form form #Send-button {
    background-color: rgba(138, 159, 172, 0.068);
    border: none;
}

.Formulario .Container-form form #Send-button:hover {
    cursor: pointer;
    color: azure;
}

/* ----------------------------------------------------- */
/* Especial separator */

.separador_oblicuo {
    width: 0;
    height: 0;
    border-right: 100vw solid transparent;
    border-bottom: 12vw solid var(--color-primary);
    margin-top: -7vw;
}


/* ----------------------------------------------------------- */
/* FOOTER */

footer {
    background-color: var(--color-primary);
    height: 300px;
    width: 100%;
    display: flex;
}

footer .Logo-2 {
    background-color: var(--color-primary);
    width: 400px;
    height: 300px;
}

footer .Logo-2 img {
    width: 400px;
    height: ;
    background-color: var(--color-primary);
    margin-left: 40px;
}

footer .Contacto {
    height: 150px;
    font-size: 25px;
    color: rgb(21, 132, 68);
    margin-top: 100px;
    margin-left: 500px;
}

footer .Contacto a {
    padding-top: 20px;
    font-size: 20px;
    padding-left: 10px;
    text-decoration: none;
    color: rgb(21, 132, 68);
}

/* ------------------------------- */
/* Whatsapp buttom */

footer .Whats {
    width: 0px;
    height: 0px;
}

footer .Whats .logoW {
    width: 47px;
    height: 40px;
    position: fixed;
    top: 400px;
    right: 8px
}

footer .Whats .logoW:hover {
    cursor: pointer;
    box-shadow: -2px 2px 20px 0px rgba(0, 0, 0, 0.75);

}

/* --------------------------------------------------- */
/* RESPONSIVE DESING TABLETS*/

/* Estilo para Tabletas */
@media screen and (max-width: 880px) {

    /* Estructura para HEADER */
    /* RESPONSIVE DESING TABLETS*/

    /*header {
        background-color: var(--color-primary);
        display: flex;
        justify-content: space-between;
        height: 20%;
        width: 100%;
    }

    .header-logo img {
        height: 100%;
        margin-left: 40%;
        width: 100%;
    }

    .header-menu {
        display: flex;
        gap: 3%;
        align-items: end;
        margin-right: 8%;
    }

    .header-menu a {
        color: green;
        text-decoration: none;
        padding: 20px;
    }

    .header-menu a:hover {
        background-color: rgb(43, 148, 148);
        color: azure;
        border-radius: 10px;
    }

    .separador {
        height: 25px;
        background-color: var(--color-primary);
    }

    .separador img {
        width: 100%;
        height: 25px;
    }*/

    /* --------------------------------------------------------- */
    /* Estructura para Content */
    /* RESPONSIVE DESING TABLETS*/
    .content {
        /* display: flex;
        padding: 20px;
        gap: 10%;*/
        height: 300Px;
        /*background-color: white;*/
    }

    /*
    .content-description {
        width: 60%;
    }
*/
    .content-description h1 {
        font-size: 30px;
        padding: 15px;
    }

    .content-description p,
    h4 {
        text-align: justify;
        padding: 10px;
        font-size: 15px;
    }

    .content-img {
        display: flex;
        width: 35%;
        height: auto;
        margin-right: 8%;
        gap: 0px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    /*-----------------------------------------------------*/
    /* Estructura Categorías */
    /* RESPONSIVE DESING TABLETS*/

    #Categorias h2 {
        font-size: 170%;
        /*text-align: center;
        padding-top: 30px;*/
    }

    /*  #Categorias {
        background-color: var(--color-secundary)
    }
*/
    .categoria-container {
        /*      display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        text-align: center;*/
        gap: 0%;
        /*  height: 400px;
        align-items: center;*/
        margin-left: 10px;
        height: 350px;
    }

    .Categorias-cuadros {
        width: 80%;
        height: 230px;
        /*      border-radius: 15px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        background-color: white;
        box-shadow: -4px 3px 33px 0px rgba(0, 0, 0, 0.75);*/
    }

    .Categorias-cuadros img {
        max-width: 100%;
        min-height: 81%;
    }

    .Categorias-cuadros p a {
        padding: 0px;
        font-size: 13px;
    }

    .Categorias-cuadros p a {
        text-decoration: none;
        color: rgb(43, 148, 148);
    }

    /*   .Categorias-cuadros p:hover,
        .Categorias-cuadros a:hover {
            background-color: rgb(43, 148, 148);
            cursor: pointer;
            color: azure;
        }*/

    /* ---------------------------------------------------------*/
    /* Estructura Productos */
    /* RESPONSIVE DESING TABLETS*/

    /*     .Product-Title {
            background-color: rgb(212, 226, 226, 0.425)
        }
*/
    .Product h2 {
        padding: 5px;
        text-align: center;
        font-size: 170%;
    }

    .Product-Title h3 {
        padding: 5px;
        margin-left: 15px;
        font-size: 80%;

    }

    .Product-container-items {
        background-color: rgba(212, 226, 226, 0.555);
        width: 100%;
        height: 480px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 1%;
    }

    .Product-container-items .product-items {
        width: 370px;
        height: 210px;
        background-color: rgba(212, 226, 226, 0.425);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: -4px 3px 33px 0px rgba(0, 0, 0, 0.75);
    }

    .Product-container-items .product-items img {
        width: 60%;
        height: 95%;
        margin-left: 5px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .Product-container-items .product-items .product-items-datos {
        text-align: center;
        width: 40%;
        height: 95%;
        margin-right: 5px;
        background-color: rgba(128, 128, 128, 0.623);
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .Product-container-items .product-items .product-items-datos p {
        padding: 17%;
    }

    .Product-container-items .product-items .product-items-datos p:first-child {
        font-size: 15px;
    }

    /*   .Product-container-items .product-items .product-items-datos button {
        padding: 8px;
        border-radius: 10px;
        background-color: rgba(101, 104, 103, 0.575);
        border: none;
        color: rgba(190, 187, 187, 0.849);
    }

    .Product-container-items .product-items .product-items-datos button:hover {
        background-color: rgb(43, 148, 148);
        color: azure;
        cursor: pointer;
    }

    hr {
        border: 1px solid rgba(0, 0, 0, 0.253);
    }*/

    /* ----------------------------------------------------------- */
    /* FORM STRUCTURE */
    /* RESPONSIVE DESING TABLETS*/

    /*  .Formulario {
        width: 100%;
        height: 500px;
    }

    .Formulario h2 {
        padding: 20px;
        text-align: center;
        font-size: 35px;
    }

    .Formulario .Container-form {
        width: 100%;
        height: 350px;
        display: flex;
        justify-content: center;

    }

    form {
        width: 500px;
        height: 300px;
        padding: 20px 30px;
        background-color: rgba(138, 159, 172, 0.349);
        box-shadow: -2px 2px 20px 0px rgba(0, 0, 0, 0.75);
    }

    input,
    textarea {
        margin-top: 6px;
    }

    .Formulario .Container-form form #Send-button {
        background-color: rgba(138, 159, 172, 0.068);
        border: none;
    }

    .Formulario .Container-form form #Send-button:hover {
        cursor: pointer;
        color: azure;
    }*/

    /* ----------------------------------------------------- */
    /* Especial separator */
    /* RESPONSIVE DESING TABLETS*/

    /*   .separador_oblicuo {
        width: 0;
        height: 0;
        border-right: 100vw solid transparent;
        border-bottom: 12vw solid var(--color-primary);
        margin-top: -7vw;
    }
*/

    /* ----------------------------------------------------------- */
    /* FOOTER */
    /* RESPONSIVE DESING TABLETS*/

    footer {
        /*background-color: var(--color-primary);*/
        height: 400px;
        width: 100%;
        display: flex;
        align-items: end;
    }

    footer .Logo-2 {
        /* background-color: var(--color-primary);*/
        width: 400px;
        height: 300px;
        align-items: center;

    }

    footer .Logo-2 img {
        width: 80%;
        height: 70%;
        background-color: var(--color-primary);
        margin: 40px;

    }

    footer .Contacto {
        width: 300px;
        height: 180px;
        font-size: 25px;
        color: rgb(21, 132, 68);
        margin-top: 120px;
        margin-left: 20px;
    }

    footer .Contacto a {
        padding-top: 20px;
        font-size: 20px;
        padding-left: 10px;
        text-decoration: none;
        color: rgb(21, 132, 68);
    }

    /* ------------------------------- */
    /* Whatsapp buttom */
    /* RESPONSIVE DESING TABLETS*/

    footer .Whats {
        width: 0px;
        height: 0px;
    }

    footer .Whats .logoW {
        width: 47px;
        height: 40px;
        position: fixed;
        top: 400px;
        right: 8px
    }

    footer .Whats .logoW:hover {
        cursor: pointer;
        box-shadow: -2px 2px 20px 0px rgba(0, 0, 0, 0.75);

    }
}

/*--------------------------------------------------------*/

@media screen and (min-width: 769px) and (max-width: 1024px) {
    /* Estilos para tabletas en orientación horizontal */
}